* {
  margin: auto;
  max-width: 1320px;
  height: auto;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

:root {
  --primary-color: #343434;
  --secondary-color: #ffffff;
}
.main-heading {
  font-size: 48px;
  font-weight: 600px;
  margin-left: 15px;
  padding-top: 50px;
  line-height: 70px;
}
.article-header {
  width: 344px;
  height: 216px;
}
.article-text {
  width: 410px;
  height: 75px;
  margin-top: 50px;
}
.more-read {
  width: 218px;
  height: 52px;
  background-color: #4885ed;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 30px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}
.page-icon {
  font-size: 18px;
  align-items: center;
}
.more-line {
  font-size: 24px;
  text-align: center;
}
.body-text {
  font-size: 16px;
  font-weight: 400px;
  margin-left: 15px;
  line-height: 25px;
}

header {
  height: 70px;
  background-color: #4885ed;
}
article {
  height: 500px;
  background-color: #e8f0ff;
}
main {
  height: 2110px;
}
main h3 {
  width: 755px;
  height: 146px;
}
main p {
  width: 978px;
  height: 75px;
  margin-top: 80px;
}

.main-icon {
  width: 350px;
  height: 350px;
  background-color: #4cca77;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 50%; */
  border: 4px solid #4885ed;
  margin-top: 50px;
}
.site-icon {
  font-size: 50px;
  color: #ffffff;
  padding-top: 40px;
}
h1 {
  color: var(--secondary-color);
  margin-top: 50px;
}
.icon-text {
  width: 230px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
  color: var(--secondary-color);
  margin-bottom: 150px;
}
.icon1 {
  border-radius: 50%;
  border: none;
}
.icon2 {
  margin-right: 0px;
  margin-right: 10px;
}

.icon4 {
  margin-left: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.icon5 {
  background-color: #4885ed;
  border: none;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.border {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

section {
  max-width: 1320px;
  height: 659px;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  margin-top: 250px;
}
.container {
  width: 350px;
  height: 506px;
  background-color: white;
  border: 2px solid blue;
  margin-left: 10px;
}
.starter {
  text-align: center;
  margin-top: 20px;
  background-color: none;
}
.dollor {
  height: 73px;
  width: 100%;
  background-color: #4885ed;
  text-align: center;
  color: var(--secondary-color);
  margin-top: 20px;
  padding-top: 20px;
}

.box {
  height: 97px;
  width: 160px;
  padding-top: 50px;
}
.user {
  display: flex;
  justify-content: row;
  margin-top: 10px;
  align-items: center;
}
.user-icon {
  font-size: 18px;
  color: #4885ed;
}
.user-text {
  font-size: 16px;
}
.more-link {
  width: 119px;
  height: 40px;
  background-color: #4885ed;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 30px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  font-size: 10px;
}
.link-p {
  font-size: 16px;
}

footer {
  max-width: 1320px;
  height: auto;
  background-color: #4885ed;
}
.footer-text {
  width: 648px;
  height: 54px;
  margin-left: 10px;
  margin-top: 20px;
  color: var(--secondary-color);
}
.footer-icon {
  color: var(--secondary-color);
  padding-left: 10px;
}
